table {
    width: 100%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.nodatarow {
    text-align: center; 
    font-size: 20px;
    padding: 50px;
}

th.mat-sort-header-sorted {
    color: black;
}